
body{
    box-sizing: border-box;
    margin:0px 0px;
    min-height: 100vh;
    margin-right: 0px;
}
#navbar{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;


}

.nav-link{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
}

.nav-link > a{
    text-decoration: none;
    color: black
}
#sign{
    background:#2b7de9;
    border: none;
    height:30px;
    width: 80px;
    color: white;
    border-radius: 5px;

}
main{
    display: grid;
    width: 100%;
    justify-items: center;
    grid-row-gap: 20px;
}

#search-bar{
   display: flex;
   width: 100%;
   justify-content: center;
}

#bar{
  height: 36px;
  flex-shrink: 3;
  flex-basis: 500px;
  border-radius: 18px;
  border: 1.5px solid rgba(0,0,0,.5);
  background-image: url(../img/keyboard);
  position: left;
  padding-right:10px;
  background-repeat: no-repeat;
  pointer-events: cursor;


}

#bar{
    background-image: url(../img/search);
    position: left;
    padding-left:10px;
    background-repeat: no-repeat;
}

.options{
    background:#f8f9fa;
    border:none;
    height:30px;
    width:150px;
}

#opt-1{
    margin-right: 10px;

}

#language{
    display: inline-flex;
    flex-direction;column;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-size: 0.9em;

}

#language  > li{
    width: 80px;
    flex: ;
    list-style-type: none;
}

#language > li > a{
  text-decoration: none;
  font-size: 0.85em;
}
#language > .large{
    flex:;
    width:150px
}

footer{
    position: sticky;
    top: 100%;
}

#location{
    width: 100%;
    background: rgba(0,0,0,.1);
    border-bottom: 2px solid rgba(0,0,0,0.8);
    padding-top: 7px;
    height: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#links{

    display: flex;
    margin-top: 0px;
    width: 100%;
    padding-left: 0px;
    padding-right:0px;

    justify-content:space-between;
    align-content: center;
    background:rgba(0,0,0,.1);


}

#links > ul {
  display:flex;
  list-style-type: none;


}
#links-1{
 display: inline-flex;
 justify-content: space-evenly;

}
#links-2{
    display: inline-flex;
    justify-content: flex-end;

}

#links-1> ul:nth-last-child{
    color:;
}


#links> ul> li{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis:100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}


@media(max-width:800px){
    #links{

        align-content: center;
        flex-wrap: wrap;
        justify-content:space-around;
        font-size: 0.9.5em;

    }

}

#links > ul > li> a{
    text-decoration: none;
    color: black;
    font-size: 0.9em;

}

footer{
  position: sticky;
  top: 100vh;
}
