
body{
    box-sizing: border-box;
    margin:0px 0px;
    min-height: 100vh;
    margin-right: 0px;
}
#navbar{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;


}

.nav-link{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
}

.nav-link > a{
    text-decoration: none;
    color: black
}
#sign{
    background:#2b7de9;
    border: none;
    height:30px;
    width: 80px;
    color: white;
    border-radius: 5px;

}
main{
    display: grid;
    width: 100%;
    justify-items: center;
    grid-row-gap: 20px;
}

#search-bar{
   display: flex;
   width: 100%;
   justify-content: center;
}

#bar{
  height: 25px;
  flex-shrink: 3;
  flex-basis: 500px;
 
}

.options{
    background:;
}

#opt-1{
    margin-right: 10px;
}

#language{
    display: inline-flex;
    flex-direction;column;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-size: 0.9em;
    
}

#language  > li{
    width: 80px;
    flex: ;
    list-style-type: none;
}
#language > .large{
    flex:;
    width:150px
}

footer{
    position: sticky;
    top: 100%;
}

#location{
    width: 100%;
    background: rgba(0,0,0,.1);
    border-bottom: 2px solid rgba(0,0,0,0.8);
    padding-top: 7px;
    height: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#links{

    display: flex;
    margin-top: 0px;
    height;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    background:rgba(0,0,0,.1);
    margin-right: 0px;
    display: ;
}

#links > li{
    flex-grow: 1;
    flex-shrink: 1;
}

#links >li>a{
    text-decoration: none;
    color: black;
}

#empty{
    align-self: stretch
}




